<h5>Testers can use an existing account</h5>
<hr />
<div>
    <p>
        Admin User: "admin@admin.com"<br />
        Admin User Password: "Administr8tor"<br />
        <br />
        <i>If database is seeded*</i><br />
        Standard User: "user@user.com"<br />
        Standard User Password: "St@ndard1"<br />
        Standard User2: "user2@user2.com"<br />
        Standard User2 Password: "St@ndard2"<br />
        <br />
        <i>*Enable migrations in the VS Package Manager Console and run update-database to seed test data in the Academy Camp database</i>
    </p>
</div>
