@model IEnumerable<AcademyCamp.Models.Registrant>

@{
    ViewBag.Title = "Admin Report";
}

<h2>All Campers Report</h2>
<iframe src="~/ASPXreports/Campers.aspx" Height="750" Width="650" frameborder="1"></iframe>
