@model IEnumerable<AcademyCamp.Models.Registrant>

@{
    ViewBag.Title = "Camper Report";
}

<h2>Camper Report</h2>
<iframe src="~/ASPXreports/CampersByUser.aspx" Height="750" Width="650" frameborder="1"></iframe>