@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This application was developed for git testing and code example purposes. 
    It is not currently a complete application.  
    In this small project I have created a simple ASP.NET MVC 5 event registration web application.  
    This sample demonstrates use of Entity Framework, Code First, Identity, 
    C#, Unobtrusive Javascript, LINQ, Json, Razor, Bootstrap, CSS, 
    and Webforms for ReportViewer rdlc reporting.</p>
