@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address hidden="hidden">
    9999 My Fake Street<br />
    Tampa, FL 99999-9999<br />
    <abbr title="Phone">P:</abbr>
    999.999.9999
</address>

<address>
    <br />
        <strong>&nbsp;</strong><a href="mailto:benthomas10.email@gmail.com">Benjmain P Thomas</a><br />
        <strong>&nbsp;</strong><a href="mailto:benthomas10.email@gmail.com">benthomas10.email@gmail</a><br /> 
</address>