@{
    ViewBag.Title = "Home";
}

<div class="jumbotron-user">
    <h1>Academy Camp</h1>
    <p class="lead">Welcome to Academy Camp, where Camp Registration just got easier!</p>
    <p><a href="~/UserRegistrants" class="btn btn-primary btn-lg">My Campers &raquo;</a></p>
</div>

